.go-back {
  font-size: 0.8em;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  margin: 1rem 0;
}

.go-back:focus,
.go-back:hover {
  color: #fff;
}

.go-back:focus:after,
.go-back:hover:after {
  width: 100%;
  left: 0%;
}

.go-back:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.button-wrapper {
  display: flex;
  align-items: left;
}

.app-title {
  color: #e1e1e1;
  font-size: 1.5em;
}

.app-title:hover {
  color: #fff;
}


.header {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin: 0rem 0 5rem 0;
  border-bottom: 1px solid #151515;
}

.header h1 {
  text-align: center;
  display: inherit;
}

