#root {
  width: 100%;
  height: 100vh;
  line-height: 24px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
  margin: 0;
}

.not-mobile {
  display: block;
}
.mobile {
  display: none;
}

.about {
  flex: 1;
  display: inline;
}
.about-page-container {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
}

.made-with-love {
  text-align: center;
  margin-top: 5rem;
}

.header {
  padding: 0;
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  margin: 0rem 0 5rem 0;
  border-bottom: 3px solid #151515;
}

.header h1 {
  text-align: center;
  display: inherit;
}

.header::after {
  flex: 1;
  content: "";
}

.words {
  text-align: center;
  padding: 0 0.5rem;
  margin: 2rem auto 6rem auto;
  line-height: 2rem;
  max-width: 50%;
  font-size: 1.2em;
}

.go-back {
  padding: 0 0.5rem;
  background-color: white;
  color: black;
  width: fit-content;
  margin: 4rem auto;
  border-radius: 6px;
  padding: 0.3rem 1rem;
  font-weight: 600;
}

.react-autocomplete-input {
  color: black;
}

.svg-map {
  height: 95vh !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.articles {
  display: grid;
  width: 100%;
  margin: auto;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: minmax(100px, auto);
  padding: 0 2rem;
}

.articles-container {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.clicked-country {
  text-align: center;
}

.hover-country {
  font-size: larger;
  text-align: center;
  width: 100%;
  font-size: 5rem;
  display: block;
  margin: 0 auto;
}

.hover-display {
  width: 100vw;
}

/* CSS CARD FROM: https://uiverse.io/alexmaracinaru/purple-zebra-61  */

.card {
  max-width: 100%;
  min-height: 24rem;
  background: rgb(30, 30, 30);
  padding: 0.4em;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.card-image img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
  height: 10rem;
}

.card-image:hover {
  transform: scale(0.98);
}

.category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.heading {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: white;
  padding: 7px;
}

.heading a {
  color: white;
}

.heading:hover {
  cursor: pointer;
}

.author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: gray;
  padding: 7px;
  margin-top: auto;
  font-weight: 400;
  font-size: 11px;
}

.author a {
  color: gray;
  margin-top: auto;
}

.author a:hover {
  color: red;
  cursor: pointer;
}

/* ABOUT CARDS */

.about-card-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.about-card {
  width: 200px;
  min-height: 50px;
  background: #242424;
  border-radius: 5px;
  text-align: center;
  color: #f0f0f0;
  font-family: inherit;
  z-index: 1;
  border-color: #151515;
  border: 2px solid;
}

.about-card .img img {
  display: flex;
  margin: 20px auto 10px auto;
  width: 60%;
  height: 80%;
  border: 1px solid #f0f0f0;
  border-radius: 50%;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  z-index: 99;
  background-color: #152f50;
}

.svgs {
  opacity: 0;
  transition: all 0.5s;
  margin: 0.5rem 0;
}

.about-heading {
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
}

.svgs svg {
  padding: 0 3px;
  margin: 0 0.2rem;
  cursor: pointer;
}

.about-card .img {
  transition: transform 0.5s ease-in-out;
}

.about-card:hover .img {
  transform: scale(1.05);
}

.about-card:hover h1,
.about-card:hover .svgs {
  opacity: 1;
}

@media (max-width: 1500px) {
  .articles {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  .articles {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* MOBILE */
@media (max-width: 800px) {
  .articles {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    min-height: 22rem;
  }

  .hover-display {
    display: none;
  }

  .mobile {
    display: block;
    text-align: center;
  }

  .words {
    max-width: 80%;
  }

  .about-card-container {
    flex-direction: column;
    align-items: center;
  }

  .svgs {
    opacity: 1;
    transition: all 0.5s;
    margin: 0.5rem 0;
  }

  .hover-country {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  .articles {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    min-height: 24rem;
  }
}
