#root {
  width: 100%;
  height: 100vh;
  line-height: 24px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
  margin: 0;
}

.not-mobile {
  display: block;
}

.map-input {
  font-size: 1.25rem;
}

.mobile {
  display: none;
  text-align: center;
  font-size: 1.5rem;
}

.input-container {
  text-align: center;
  font-size: 1.5rem;
}

.input-container p {
  padding: 0 1rem;
}

.about-page-container {
  display: flex;
  flex-direction: column;
}

.made-with-love {
  text-align: center;
  margin-top: 5rem;
}

.loading {
  /* display: none; */
  text-align: center;
  margin-bottom: 3rem;
}

.words {
  text-align: center;
  padding: 0 0.5rem;
  margin: 2rem auto 6rem auto;
  line-height: 2rem;
  max-width: 50%;
  font-size: 1.2em;
}

.go-back {
  padding: 4rem 0.5rem;
  background-color: white;
  color: black;
  width: fit-content;
  /* margin: 4rem auto; */
  border-radius: 6px;
  padding: 0.3rem 1rem;
  font-weight: 600;
}

.react-autocomplete-input {
  color: black;
}

.svg-map {
  height: 95vh !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.articles {
  display: grid;
  width: 100%;
  margin: auto;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: minmax(100px, auto);
  padding: 0 2rem;
}

.articles-container {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.clicked-country {
  text-align: center;
}

.hover-country {
  font-size: larger;
  text-align: center;
  width: 100%;
  font-size: 5rem;
  display: block;
  margin: 0 auto;
}

.hover-display {
  width: 100vw;
}

/* CSS CARD FROM: https://uiverse.io/alexmaracinaru/purple-zebra-61  */

.card {
  max-width: 100%;
  min-height: 24rem;
  background: rgb(30, 30, 30);
  padding: 1rem;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.card-image img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
  height: 10rem;
}

.card-image:hover {
  transform: scale(0.98);
}

.category {
  margin-block-start: 1rem;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
}

.category:hover {
  cursor: pointer;
}

.heading {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: white;
}

.heading a {
  color: white;
}

.heading:hover {
  cursor: pointer;
}

.author {
  margin-top: auto;
  font-weight: 400;
  font-size: 11px;
}

.date {
  color: #215740
}

.author a {
  color: gray;
  margin-top: auto;
}

.author a:hover {
  color: red;
  cursor: pointer;
}

/* ABOUT CARDS */

.about-card-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.about-card {
  width: 200px;
  min-height: 50px;
  background: #242424;
  border-radius: 5px;
  text-align: center;
  color: #f0f0f0;
  font-family: inherit;
  z-index: 1;
  border-color: #151515;
  border: 2px solid;
}

.about-card .img img {
  display: flex;
  margin: 20px auto 10px auto;
  width: 60%;
  height: 80%;
  border: 1px solid #f0f0f0;
  border-radius: 50%;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  z-index: 99;
  background-color: #152f50;
}

.svgs {
  opacity: 0;
  transition: all 0.5s;
  margin: 0.5rem 0;
}

.about-heading {
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
}

.svgs svg {
  padding: 0 3px;
  margin: 0 0.2rem;
  cursor: pointer;
}

.about-card .img {
  transition: transform 0.5s ease-in-out;
}

.about-card:hover .img {
  transform: scale(1.05);
}

.about-card:hover h1,
.about-card:hover .svgs {
  opacity: 1;
}

/* Modal */
/* body.active-modal {
  overflow-y: hidden;
} */

.btn-modal {
  padding: 0.3rem;
  width: 80px;
  display: block;
  margin: 0.5rem auto;
  font-size: 13px;
}

.modal,
.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  font-size: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  position: fixed;
}

.modal {
  z-index: 10;
}

.modal a {
  color: #000000;
}

.modal a:hover {
  color: rgb(2, 81, 107);
}

.overlay {
  background: rgba(40, 40, 40, 0.803);
}

.modal-content {
  padding: 1rem 2rem;
  margin: 1rem;
  position: relative;
  height: 700px;
  width: 70%;
  display: block;
  margin: 0 auto;
  overflow: auto;
  scroll-behavior: auto;
  background: rgba(18, 18, 18, 0.897);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
}

.modal-content figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content a {
  color: #57cc99
}

.modal-content a:hover {
  color: red;

}

.gu-image {
  object-fit: contain;
  max-width: 100%;
  height: 100%;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  padding: 1px 6px;
  font-weight: bold;
  transition: all 0.3s ease;
  display: block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  overflow: hidden;
  border: 3px solid #ff0000;
  color: #ff0000;
}

.close-modal:hover {
  color: #fff;
}

.close-modal:hover:after {
  height: 100%;
}

.close-modal:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: #ff0000;
}

.summary {
  display: -webkit-box;
  overflow: auto;
  height: 90%;
}

.css-button-arrow--black {
  position: absolute;
  bottom: 0;
  min-width: 130px;
  height: 42px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #343a40;
}

.css-button-arrow--black:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}

.css-button-arrow--black:hover:after {
  opacity: 1;
  right: 10px;
}

.css-button-arrow--black:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.css-button-sliding-to-top--green {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: rgb(7, 7, 7);
  overflow: hidden;
  border: 2px solid #215740;
  color: #57cc99;
}

.css-button-sliding-to-top--green:hover {
  color: #fff;
}

.css-button-sliding-to-top--green:hover:after {
  height: 100%;
}

.css-button-sliding-to-top--green:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #57cc99;
}

.input {
  max-width: 190px;
  background-color: #303030;
  color: #ffffff;
  padding: .15rem .5rem;
  min-height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
}

input:focus {
  border-bottom: 2px solid #A1D99B;
  border-radius: 4px 4px 2px 2px;
}

input:hover {
  outline: 1px solid lightgrey;
}

p.warning {
  background-color: #000000;
  border: 1px solid #ff0000;
  color: #ff0000;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 1500px) {
  .articles {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  .articles {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* MOBILE */
@media (max-width: 800px) {
  .articles {
    grid-template-columns: repeat(2, 1fr);
  }



  .input-container p {
    font-size: 1rem;
  }

  .card {
    min-height: 22rem;
  }

  .hover-display {
    display: none;
  }

  .input-not-mobile {
    display: none;
  }

  .mobile {
    display: block;
    text-align: center;
  }

  .words {
    max-width: 80%;
  }

  .about-card-container {
    flex-direction: column;
    align-items: center;
  }

  .svgs {
    opacity: 1;
    transition: all 0.5s;
    margin: 0.5rem 0;
  }

  .hover-country {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .modal-content {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .modal-content {
    width: 95%;
    padding: 1rem;
  }

  .articles {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    min-height: 24rem;
  }
}