#root {
  width: 100svw;
  height: 100vh;
}
html,
body {
  width: 100vw;
}
body {
  overflow-x: hidden;
}

.svg-map {
  height: 95vh !important;
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.articles {
  display: grid;
  width: 100%;
  margin: auto;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: minmax(100px, auto);
  padding: 0 2rem;
}

.articles-container {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.hover-country {
  font-size: larger;
  text-align: center;
  width: 100%;
  display: block;
  position: absolute;
}
.hover-display {
  width: 100vw;
  margin-top: 1rem;
}

/* CSS CARD FROM: https://uiverse.io/alexmaracinaru/purple-zebra-61  */

.card {
  width: 100%;
  min-height: 24rem;
  background: rgb(30, 30, 30);
  padding: 0.4em;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.card-image img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
  height: 10rem;
}

.card-image:hover {
  transform: scale(0.98);
}

.category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.heading {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: white;
  padding: 7px;
}

.heading a {
  color: white;
}

.heading:hover {
  cursor: pointer;
}

.author {
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 400;
  font-size: 11px;
  height: 100%;
  bottom: 0.5rem;
}

.author a {
  color: gray;
  margin-top: auto;
}

.author a:hover {
  color: red;
  cursor: pointer;
}

@media (max-width: 1500px) {
  .articles {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  .articles {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .articles {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    min-height: 22rem;
  }
}

@media (max-width: 450px) {
  .articles {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    min-height: 24rem;
  }
}
